*,*::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  width: 100%;
  min-height: 100vh;
  height: auto !important;
  /* background-color: #c2c0c0; */
  margin: 0 !important;
}
#root, .container, .navbar-wrapper{
  max-width: 2200px;
}
#root {
  position: relative;
  min-height: 100vh !important;
  margin: 0 auto;
}
.container{
  background-color: white;
}
footer{
  width: 100% !important;
  position: absolute !important;
  top: 100% !important
}

.custom-blue{
  color: cornflowerblue;
}
.section-header-blue{
  color: #052c65 !important;
}
image{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.book-appointment-button{
  width: 100% !important;
}

.btn-success{
  color: white !important;
  /* background-image: url('./assets/carbonfiber-background.png') !important;
  background-position: left; */
  /* text-shadow: 1px 2px green !important; */
  border: 3px solid green !important;
  padding: 3px 0 !important
}
.btn-success:hover{
  border: 3px solid rgb(1, 182, 1) !important;
}


/****** TOP INFO BAR ******/
.top-info-bar{
  position: relative;
  height: 120px;
  display: none !important;
  background-image: url('./assets/carbonfiber-background.png');
  margin: 0 !important;
}
.carbon-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.712);
  margin: 0 !important;
}
.top-info-bar .left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  color: white;
}
.top-info-bar .right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: rgb(100, 148, 237);
}


/****** NAVBAR ******/
.navbar-wrapper{
  margin: 0 auto;
}
.navbar .navbar-nav{
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.navbar .navbar-nav li{
  padding: 0 0 0 10px;
}
.navbar .navbar-nav li:hover{
  background-color: rgba(100, 148, 237, 0.377);
}


/****** SECTION 1 ******/
.section-1{
  position: relative;
  width: 100%;
  min-height: 345px;
  height: 100%;
  background-image: url('./assets/car-background-mobile.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  padding: .3rem;
}
.section-1 h1{
  font-size: 1.8rem !important;
  text-align: center;
}
.section-1 p{
  font-size: 1.3rem !important;
}
.section-1 .black-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.712);
}
.section-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 1rem;
  margin: 0 auto;
  gap: 1.5rem;
  max-width: 890px;
}

/****** SECTION 2 ******/
.section-3{
  max-width: 1500px;
  margin: 0 auto
}
.section-3 button{
  border-radius: 0;
  font-size: 1.4rem;
}


/****** DATEPICKER ******/
.datepicker-wrapper{
  width: 310px;
}
.custom-datepicker-input{
  display: flex;
  align-items: center;
  width: 230px !important;
  gap: 7px;
  background-color: rgb(225, 244, 255);
  padding: 6px 0 6px 12px;
  border-radius: 11px;
}
.react-datepicker-popper {
 position: absolute;
 left: -20px !important
}

.datepicker{
  width: 180px;
  border: none;
  border-radius: 7px;
  text-align: center;
}
.datepicker-label{
  width: 225px !important;
  padding: 0 0 0 12px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  /* color: #ccc; */
  color: rgb(255, 141, 141) !important;
}

/* APPOINTMENT PAGE */
.cards-wrapper{
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}
.details-pane-wrapper {
  margin: 350px 0 0 0;
}
.details-pane{
  position: relative;
  top: 5px;
  max-width: 870px;
  min-height: 350px;
  margin: 0 auto;
  z-index: 1000;
  /* max-height: 638px !important; */
}

/* ADMIN APPT PAGE SORT TOOLBAR */
.sort-appointments-wrapper {
  width: auto;
  background-color: aqua;
  height: 35px;
  margin: 0 0 20px 0
}

.sort-appointments-dropdown{
  width: 165px;
  margin: 0 auto !important;
}
.sort-appointments-dropdown input{
  width: 165px;
  margin: 0 auto !important;
  background-color: rgb(225, 244, 255);
  border: 1px solid rgb(194, 194, 194);
  align-content: stretch;
}
/* .sort-appointments-dropdown select option{
  margin: 0 auto !important;
  background-color: white;
  text-align: center;
  border: none;
} */

.sort-dates-input{
  background-color: rgb(225, 244, 255);
  border: 1px solid rgb(194, 194, 194);
  padding: 2px 4px;
  align-content: stretch;
  width: 165px;
}
.sort-dates-input:focus{
  border-color: rgb(194, 194, 194);
  outline: none;
}

/* MODAL - GLOBAL STYLE TO STAY CONSISTENT ACROSS SITE*/
.modal{
  /* max-width: 350px; */
  width: 100%;
  /* transform: translateX(-50%) !important;
  left: 50%  */
}

/* DETAILS PANE */
.details-pane{
  max-width: 330px !important;
}

/* CARDS WRAPPER */
.cards-wrapper{
 width: 100%;
 max-width: 330px;
}
/****** FAQ ******/
/* faq container */
.accordion-flush {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

/* faq item */
.accordion-item {
  border-bottom: 1px solid #dee2e6;
}

/* headers */
.accordion-header {
  margin-bottom: 0;
}

/* q button */
.accordion-button {
  background-color: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  color: #212529;
  padding: 1rem;
  box-shadow: none;
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* hovered */
.accordion-button:hover,
.accordion-button:focus {
  background-color: #e9ecef;
  color: #000;
}

/* open */
.accordion-button:not(.collapsed) {
  background-color: #dee2e6;
  color: #000;
}

/* answer */
.accordion-body {
  background-color: #f1f3f5;
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}




/***********************************************/
/**************** MEDIA QUERIES ****************/
/***********************************************/
@media screen and (max-width: 576px) {
  .accordion-button {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .accordion-body {
    padding: 0.75rem;
  }
}

@media screen and (min-width: 550px) {
  .sort-appointments-wrapper {
    width: auto;
  }
  .sort-dates-input{
    width: 275px;
  }
  .sort-appointments-dropdown, .sort-appointments-dropdown *{
    width: 275px !important;
  }
  .details-pane, .cards-wrapper{
    min-width: 550px !important;
  }
  /* MODAL */
  .modal{
    max-width: 100%;
    width: 100%;
    transform: translateX(0%) !important;
    left: 0;
  }
  /* faq */
  .accordion-button {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .accordion-body {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-1{
      min-height: 400px;
      background-image: url('./assets/car-background-medium.png');
  }
  .navbar .navbar-nav li{
      display: grid;
      place-content: center;
      text-align: center;
      /* width: 16.5%; */
      width: 19%;
      background-color: rgba(100, 148, 237, 0.377);
      padding: 0;
  }
  .nav-item .dropdown-menu{
      background-color: white;
  }
  .nav-item .dropdown-menu li{
      width: 250px !important;
      background-color: white;
  }
  .nav-item .dropdown-menu li a{
      width: 225px !important;
      text-align: start;
  }
  .navbar .navbar-nav li a{
      font-weight: 600;
  }
  .top-info-bar{
      display: flex !important;
  }
  /* faq */
  .accordion-button {
    font-size: 1.25rem;
    padding: 1.25rem;
  }

  .accordion-body {
    padding: 1.25rem;
  }
}

@media only screen and (min-width: 992px) {
  .book-appointment-button{
    width: 135px !important;
  }
  .section-1{
      min-height: 500px;
      background-image: url('./assets/car-background-large.png');
  }
  .services img{
      max-width: 280px;
  }
  .top-info-bar .left{
    left: 3em;
  }
  .top-info-bar .right{
    right: 3rem;
  }
  /* faq */
  .accordion-button {
    font-size: 1.3rem;
    padding: 1.5rem;
  }

  .accordion-body {
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 1220px) {
  .section-1{
      min-height: 500px;
      background-image: url('./assets/car-background-xlarge.png');
  }
  .section-1 h1{
      font-size: 2.1rem !important;
  }
  .section-1 p{
      font-size: 1.5rem !important;
  }
  /* faq */
  .accordion-button {
    font-size: 1.4rem;
  }

  .accordion-body {
    padding: 1.75rem;
  }
}